.custom.el
auto-save-list/
elpa/
melpa/
transient/
config.el
.custom.el~
ede-projects.el
irony/
projectile-bookmarks.eld
.erc-auth
url
#config.org#
#*#
config.el~
*~
config.html
recentf
eln-cache
.last-package-update-day
.cache
session*
.dap-breakpoints
.lsp-session-v1
tramp
projects
.org-id-locations
bookmarks
straight
anaconda-mode
/org-persist
.\#config.org
request/curl-cookie-jar
ielm-history.eld
