.custom.el
auto-save-list/
elpa/
melpa/
transient/
config.el
.custom.el~
ede-projects.el
irony/
projectile-bookmarks.eld
.erc-auth
url
#config.org#
#*#
config.el~
*~
config.html
recentf
eln-cache
.last-package-update-day
